<!DOCTYPE html>
<html>
<head>
  <title>Application</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag "application", params[:controller], :media => "all", "data-turbolinks-track" => true  %>
  <%= javascript_include_tag "application", params[:controller], "data-turbolinks-track" => true  %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="menu-option" id="menu-option-1"><%= link_to 'Menu Option 1', '#' %></li>
            <li role="presentation" class="menu-option" id="menu-option-2"><%= link_to 'Menu Option 2', '#' %></li>
          </ul>
        </nav>
        <h3 class="text-muted">Application</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-3">
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <footer class="footer">
        <p>&copy; Ariel - 2015</p>
      </footer>
    </div>
  </div>
  <!--
  <div class="container">
  </div>-->

</body>
</html>
